{% extends "base.html" %}
{% block title %}Feniks Accounting{% endblock %}
{% block page_content %}
<div class="header-content">
    <span class="">
        <h4>Admin Dashboard</h4>
    </span>
</div>
<div class="main-content">
    <div class="container">
        
        <!-- <div class="row">
            <div class="col-lg-3 col-md-6 col-sm-6 col-12">
              <div class="card">
                <div class="card-icon bg-primary">
                  <i class="far fa-user"></i>
                </div>
                <div class="card-wrap">
                  <div class="card-header">
                    <h4>Total Admin</h4>
                  </div>
                  <div class="card-body">
                    10
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6 col-12">
              <div class="card">
                <div class="card-icon bg-danger">
                  <i class="far fa-superpowers"></i>
                </div>
                <div class="card-wrap">
                  <div class="card-header">
                    <h4>Active Admin</h4>
                  </div>
                  <div class="card-body">
                    42
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6 col-12">
              <div class="card">
                <div class="card-icon bg-warning">
                  <i class="far fa-server"></i>
                </div>
                <div class="card-wrap">
                  <div class="card-header">
                    <h4>Total Candidates</h4>
                  </div>
                  <div class="card-body">
                    1,201
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6 col-12">
              <div class="card">
                <div class="card-icon bg-success">
                  <i class="fas fa-circle"></i>
                </div>
                <div class="card-wrap">
                  <div class="card-header">
                    <h4>Active Candidate</h4>
                  </div>
                  <div class="card-body">
                    47
                  </div>
                </div>
              </div>
            </div>                  
          </div> -->

        <div class="row">
            <div class="col-md-3">
                <div class="row main-dashboard">
                    <div class="col-md-6 col">
                        <div class="admin-box feniksPurple text-center">
                            <i class="fa fa-user"></i>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <p>Total Administrator</p>
                        <h5><strong>50</strong></h5>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="row main-dashboard">
                    <div class="col-md-6">
                        <div class="admin-box feniksBlue text-center">
                            <i class="fa fa-superpowers"></i>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <p>Active Administrator</p>
                        <h5><strong>1255</strong></h5>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="row main-dashboard">
                    <div class="col-md-6">
                        <div class="admin-box feniksGuava text-center">
                            <i class="fa fa-list"></i>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <p>Total Candidates</p>
                        <h5><strong>71</strong></h5>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="row main-dashboard">
                    <div class="col-md-6">
                        <div class="admin-box feniksYellow text-center">
                            <i class="fa fa-male"></i>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <p>Active Candidate</p>
                        <h5><strong>2</strong></h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}