{% extends "base.html" %}
{% block title %} candidate List {% endblock %}
{% block page_content %}
<div class="main-content">
    <div class="main-header">
      <div class="row">
        <div class="col-md-6">
          <form action="" method="POST">
            <div class="input-group">
              <input type="text" class="form-control" placeholder="Search Name" name="keyword">
              <div class="input-group-append">
                <button class="btn btn-primary" type="submit">
                  <i class="fa fa-search"></i>
                </button>
              </div>
            </div>
          </form>
        </div>
        <div class="col-md-6">
          <a href="{{ url_for('admin.candidate_add') }}" class="btn btn-primary float-right">Add New</a>
        </div>
      </div>
    </div>
    {% for message in get_flashed_messages() %}
        <span class="text-danger">{{ message }}</span>
    {% endfor %}
    <table class="table table-bordered">
        <thead class="">
            <tr>
                <td>No</td>
                <td>Name</td>
                <td>Phone</td>
                <td>Division</td>
                <td>Schedule</td>
                <td>Level</td>
                <td>Action</td>
            </tr>
        </thead>
        <tbody>
            {% set count = namespace(value=1) %}
            {% for candidate in candidates %}
            <tr>
                <td>{{ count.value }}
                    {% set count.value = count.value + 1 %}
                </td>
                <td>{{ candidate.name }}</td>
                <td>{{ candidate.phone }}</td>
                <td>{{ candidate.division }}</td>
                <td> 
                  {% if candidate.schedule is none %}
                    <span class="text-danger">Not Set</span>
                  {% else %}
                    <span class="text-success">{{ candidate.schedule }}</span>
                  {% endif %}
                </td>
                <td>{{ candidate.level }}</td>
                <td>
                    <a href="{{ url_for('admin.candidate_edit', id=candidate.id) }}" class="btn btn-success"><i class="fa fa-pencil" title="Edit Data"></i></a>
                    <a href="" class="btn btn-danger delete-dialog-candidate" target-id="{{ candidate.id }}"><i class="fa fa-trash" title="Delete Data"></i></a>
                    <a href="{{ url_for('admin.candidate_set_schedule', id=candidate.id) }}" class="btn btn-warning"><i class="fa fa-calendar text-white" title="Set Schedule"></i></a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <div class="fixed-center">
        <nav aria-label="Page navigation example">
            <ul class="pagination">
              {% for num in range(num_pages) %}
                <li class="page-item"><a class="page-link" href="data?page={{num+1}}">{{num+1}}</a></li>
              {% endfor %}
            </ul>
        </nav>
    </div>
</div>
{% endblock %}